/*
	Name: Shahbegh Singh Kalra
	Date: 12/10/2017
	Lab: Final Release
	Purpose: CSS styling for Final project 
*/
body{
		font-family: "Trebuchet MS", sans-serif;
		margin: 50px;
		font-size:10px;
		margin:0px;
		background-color:#2c3563;
		font-family:"Arial",sans-Serif;
		color:#4e7899;
	
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}
	
/*	N341 Final project
	By Shahbegh Singh Kalra
	date:11/26/2017
	CSS stylesheet
*/





h2
{
	text-shadow: -3px 0 #253b5a, 0 3px #253b5a, 3px 0 #253b5a, 0 -3px #253b5a;
	font-family:'Amatic-Bold';
	font-size:80px;
	color:#99d3ff;
	clear:both;
	text-align:center;
}


footer 
{
	color:black;
	text-align:center;
	background-color:#7a838b;
	display:block;
	font-size:15px;
}
/*style contact page's content inside fieldset*/
fieldset.contact
{
	color:white;
	font-size:17px;
	display:block;
	background-color:#2a283d;
	padding:20px;
	margin-left:120px;
	margin-right:120px;
}
input[type=text],[type=tel],[type=email],[type=password], #autocomplete
{
	width:30%;
	display:grid;
	background-color:#f2ebf0;
	border-radius:10px;
	margin:10px;
	
	
}
input[type=radio]
{
	background-color:#f2ebf0;
	margin-right:100px;
	float:right;
	clear:right;
}
/*style the input types*/
.contact input[type=button], input[type=submit], input[type=reset] 
{
	margin-right:20px;
	color:white;
	background-color:#10333a;
	border-radius:10px;
	width:100px;
	float:right;
	clear:right;
	margin-right:50px;
}

textarea
{
	margin:10px;
	width:300px;
	height:100px;
	background-color:#f2ebf0;
	
}
.contact label
{
	color: 	#c18abb;
	padding:10px;
	margin-left:50px;
	
}
.gender
{
	padding-left:100px;
}
fieldset.home
{
	text-align:center;
	margin:120px;
	background-color:#3e4a75;
}
fieldset.home p , legend
{
	color:#9495a5;
}


	